<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canoe.dao.PersonMapper">
    <resultMap type="Person" id="paperResultMap" >
        <id property="id" column="id"/>
        <result property="c_name" column="name"/>
        <result property="c_age" column="age"/>
        <result property="c_sex" column="sex"/>
        <result property="c_address" column="address"/>
        <result property="c_mobile" column="phone"/>
    </resultMap>

    <select id="getPerson" resultType="com.canoe.pojo.Person">
        SELECT
          id,c_name name,c_age age,c_sex sex,c_address address,c_mobile phone
        FROM
          canoe_person_info
    </select>
</mapper>